<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- 	注册插件，限定查询条数 -->
<!--  <plugins>-->
<!--    <plugin interceptor="com.ssm.block.mybatis.example3.plugins.ExamplePlugin">-->
<!--      <property name="maxCount" value="100"/>-->
<!--    </plugin>-->
<!--  </plugins>-->
  <environments default="mysql_db">
    <environment id="mysql_db">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/db1?useUnicode=true&amp;characterEncoding=utf-8&amp;serverTimezone=GMT%2B8"/>
        <property name="username" value="root"/>
        <property name="password" value="12345678"/>
      </dataSource>
    </environment>
    <environment id="oracle_db">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@140.100.130.112:1521:orcl"/>
        <property name="username" value="micro_vsta"/>
        <property name="password" value="micro_vsta"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/ssm/block/mybatis/example3/mapper.xml"/>
  </mappers>
</configuration>
